#bigAvatarScreen {
    z-index: 998;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#bigAvatar {
    z-index: 999;
    display: none;
    position: fixed;
}